#imageDirectory {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

#titleCenter{
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: "middle"
}